.project__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.project__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    height: fit-content;
}

.project__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.project__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.container.project__container h2 {
    margin: 1.2rem 0 2rem;
}

.project__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.project-btn {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    border-radius: 0.7rem;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    background: var(--color-primary);
    color: var(--color-bg);
}

.project-btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}